.map_container {
  margin: 0px auto;
  /* width: 100dvw; */
  /* height: 100dvh; */
  width: max-content;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  /* gap: 30px; */
}

.image_container {
  width: 600px;
  position: relative;
  /* background-color: rgba(255, 228, 196, 0.67); */
  border-radius: 10px;
  /* padding: 20px 5px 5px; */
  text-align: center;
}

.map_image {
  /* width: 600px; */
  max-height: 80dvh;
  border-radius: 2%;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
}

.pin_point {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.popup_div {
  position: absolute;
  font-size: small;
  border: 1px solid rgba(202, 200, 200, 0.9);
  z-index: 11;
  border-radius: 10px 10px 10px 0px;
  max-width: 40%;
  padding: 10px;
  background: radial-gradient(343px at 46.3% 47.5%,
      rgba(242, 242, 242, 0.9) 0%,
      rgb(241, 241, 241) 72.9%);
  transition: all 2s ease;
  cursor: pointer;
}

.back_arrow_container {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: transform 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.back_arrow_container:hover {
  transform: scale(1.5);
}

/* .back_arr

.back_arrow_text {
  display: inline-block;
} */