.map_container {
    margin: 0px auto;
    /* width: 100dvw; */
    /* height: 100dvh; */
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap: 30px; */
}

.map_heading {
    font-size: 2.5rem;
    padding: 25px 0px;
}

.image_container {
    width: fit-content;
    position: relative;

}

.map_image {
    width: 600px;
    height: auto;
    border-radius: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


.pin_point {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.popup_div {
    position: absolute;
    font-size: small;
    border: 1px solid rgba(202, 200, 200, 0.9);
    z-index: 11;
    border-radius: 10px 10px 10px 0px;
    max-width: 30%;
    padding: 10px;
    background: radial-gradient(343px at 46.3% 47.5%, rgba(242, 242, 242, 0.9) 0%, rgb(241, 241, 241) 72.9%);
    transition-property: all;
    transition: 2s ease;
}