.marker_info_container {
  position: absolute;
  top: 200px;
  right: -320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.marker_info_content {
  display: flex;
  gap: 5px;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
}

.marker_info_content > div {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
